In [66]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

In [14]:
# load the clean dataset 
school_df = pd.read_csv("dataset/merged_clean_data.csv")

In [15]:
school_df.head()

,index,District,Zone,Development Region,Geographical Region,Latitude,Longitude,School_code,School_name,ENGLISH,...,HEALTH POPULATION AND ENVIRONMENT,TAP,SAP,DISTINCTION,FIRST DIVISION,SECOND DIVISION,THIRD DIVISION,PASS,FAIL,PASS PERCENT
0,0,taplejung,Mechi,Eastern,Mountain,27.35,87.666667,1001,BALSUBODHINI SAN MA VI MEDIBUNG PHUNGLIN,16.2,...,33.1,60,60,0,2,7,0,9,51,15.0
1,1,taplejung,Mechi,Eastern,Mountain,27.35,87.666667,1002,BHANUJAN MA VI AMBITAR,17.3,...,39.2,116,115,0,5,16,0,21,94,18.3
2,2,taplejung,Mechi,Eastern,Mountain,27.35,87.666667,1003,MOTI MA VI KHOKLING,16.2,...,42.4,30,30,0,0,2,0,2,28,6.7
3,3,taplejung,Mechi,Eastern,Mountain,27.35,87.666667,1004,SINAM MA VI SINAM,28.7,...,48.2,76,75,0,12,46,0,58,17,77.3
4,4,taplejung,Mechi,Eastern,Mountain,27.35,87.666667,1005,GANESH MA VI KHEWANG,23.3,...,35.0,27,27,0,2,7,0,9,18,33.3

In [62]:
# find the no. of school in each district
no_school_each_district = school_df.groupby('District').size()

In [63]:
# show no. of schools in each district
no_school_each_district

District
achham           40
arghakhanchi     54
baglung          78
baitadi          52
bajhang          37
               ...
syangja         108
tanahun         105
taplejung        36
terhathum        33
udayapur         59
Length: 75, dtype: int64

In [70]:
# average pass percentage of student in each district
avg_pass_std = school_df.groupby(by=['District'])['PASS PERCENT'].agg([np.average])

In [69]:
school_df.columns

Index(['index', 'District', 'Zone', 'Development Region',
       'Geographical Region', 'Latitude', 'Longitude', 'School_code',
       'School_name', 'ENGLISH', 'NEPALI', 'MATHS', 'SCIENCE',
       'SOCIAL STUDIES', 'HEALTH POPULATION AND ENVIRONMENT', 'TAP', 'SAP',
       'DISTINCTION', 'FIRST DIVISION', 'SECOND DIVISION', 'THIRD DIVISION',
       'PASS', 'FAIL', 'PASS PERCENT'],
      dtype='object')

In [71]:
avg_pass_std

                average
District
achham        53.615000
arghakhanchi  60.431481
baglung       41.065385
baitadi       49.713462
bajhang       75.713514
...                 ...
syangja       55.600000
tanahun       55.013333
taplejung     35.600000
terhathum     63.236364
udayapur      80.435593

[75 rows x 1 columns]