In [57]:
#import python packages for the data wrangling
import pandas as pd
import numpy as np

In [58]:
#loading the csv file
df = pd.read_csv(r'dataset/uncleaned_data.csv')

**EDA**

In [59]:
df.head()

,Location,Geographical Region,School Number,School,ENGLISH,NEPALI,MATHS,SCIENCE,SOCIAL STUDIES,HEALTH POPULATION AND ENVIRONMENT,TAP,SAP,DISTINCTION,FIRST DIVISION,SECOND DIVISION,THIRD DIVISION,PASS,FAIL,PASS PERCENT
0,"Taplejung, Mechi, Eastern",Mountain,1,"BALSUBODHINI SAN MA VI MEDIBUNG PHUNGLIN, 1001",16.2,51.5,21.8,25.5,30.8,33.1,60,60,0,2,7,0,9,51,15.0
1,"Taplejung, Mechi, Eastern",Mountain,2,"BHANUJAN MA VI AMBITAR, 1002",17.3,46.5,25.3,23.5,38.2,39.2,116,115,0,5,16,0,21,94,18.3
2,"Taplejung, Mechi, Eastern",Mountain,3,"MOTI MA VI KHOKLING, 1003",16.2,48.5,34.2,31.0,30.4,42.4,30,30,0,0,2,0,2,28,6.7
3,"Taplejung, Mechi, Eastern",Mountain,4,"SINAM MA VI SINAM, 1004",28.7,41.6,41.2,36.9,41.4,48.2,76,75,0,12,46,0,58,17,77.3
4,"Taplejung, Mechi, Eastern",Mountain,5,"GANESH MA VI KHEWANG, 1005",23.3,44.1,31.7,28.0,43.6,35.0,27,27,0,2,7,0,9,18,33.3

In [60]:
df.tail()

,Location,Geographical Region,School Number,School,ENGLISH,NEPALI,MATHS,SCIENCE,SOCIAL STUDIES,HEALTH POPULATION AND ENVIRONMENT,TAP,SAP,DISTINCTION,FIRST DIVISION,SECOND DIVISION,THIRD DIVISION,PASS,FAIL,PASS PERCENT
5282,"Kanchanpur, Mahakali, Far-Western",Terai,5283,"MAHAKALI MA VI BASANTPUR, 77065",23.8,37.6,21.2,30.2,46.3,37.1,20,19,0,0,5,0,5,14,26.3
5283,"Kanchanpur, Mahakali, Far-Western",Terai,5284,"SHANTI NIKETAN MA VI AAITHAPUR, 77066",29.7,49.8,45.6,34.4,46.9,49.6,35,34,0,8,25,0,33,1,97.1
5284,"Kanchanpur, Mahakali, Far-Western",Terai,5285,"BAIJANATH MA VI JADEPANI DAIJI, 77067",26.9,47.1,33.1,27.8,45.1,37.5,58,56,0,1,26,2,29,27,51.8
5285,"Kanchanpur, Mahakali, Far-Western",Terai,5286,"YUBA BARSHMA VI TILKENI, 77068",26.7,47.2,41.7,38.6,48.8,40.3,39,39,0,2,30,1,33,6,84.6
5286,"Kanchanpur, Mahakali, Far-Western",Terai,5287,"SARASWATI JANATA MA VI BAIBAHA BELDADI, 77069",24.5,33.5,38.3,24.8,39.9,36.0,29,29,0,2,4,5,11,18,37.9

In [61]:
df.describe()

,School Number,ENGLISH,NEPALI,MATHS,SCIENCE,SOCIAL STUDIES,HEALTH POPULATION AND ENVIRONMENT,TAP,SAP,DISTINCTION,FIRST DIVISION,SECOND DIVISION,THIRD DIVISION,PASS,FAIL,PASS PERCENT
count,5287.000000,5287.000000,5287.000000,5287.000000,5287.000000,5287.000000,5287.000000,5287.000000,5287.000000,5287.000000,5287.000000,5287.000000,5287.000000,5287.000000,5287.000000,5287.000000
mean,2644.000000,34.040079,49.022565,45.484244,36.456138,46.485379,43.431190,52.195007,51.878381,1.424248,10.676187,17.026669,1.421411,30.548515,21.289011,64.388197
std,1526.369767,13.471513,8.886534,17.992991,10.504436,10.549179,7.828413,46.601595,46.278347,5.831040,15.641145,19.768712,3.111471,29.726230,28.896977,29.580689
min,1.000000,8.800000,20.300000,4.000000,5.200000,11.500000,16.100000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1322.500000,23.800000,42.500000,32.000000,28.700000,38.700000,37.700000,22.000000,22.000000,0.000000,2.000000,4.000000,0.000000,12.000000,1.000000,40.000000
50%,2644.000000,29.400000,48.000000,41.500000,34.200000,45.100000,42.600000,39.000000,39.000000,0.000000,6.000000,11.000000,0.000000,22.000000,12.000000,66.700000
75%,3965.500000,46.100000,55.000000,58.100000,43.300000,53.600000,48.800000,67.000000,67.000000,0.000000,14.000000,24.000000,2.000000,39.000000,30.000000,94.650000
max,5287.000000,85.100000,78.300000,95.400000,79.000000,82.100000,74.600000,1135.000000,1117.000000,153.000000,326.000000,357.000000,47.000000,530.000000,677.000000,100.000000

In [62]:
df.size #size of the dataset

100453

In [63]:
df.shape #dimension of the dataset

(5287, 19)

In [64]:
df.dtypes #data types of each column

Location                              object
Geographical Region                   object
School Number                          int64
School                                object
ENGLISH                              float64
NEPALI                               float64
MATHS                                float64
SCIENCE                              float64
SOCIAL STUDIES                       float64
HEALTH POPULATION AND ENVIRONMENT    float64
TAP                                    int64
SAP                                    int64
DISTINCTION                            int64
FIRST DIVISION                         int64
SECOND DIVISION                        int64
THIRD DIVISION                         int64
PASS                                   int64
FAIL                                   int64
PASS PERCENT                         float64
dtype: object

In [65]:
df_split = df['Location'].str.split(',', expand=True)
df_split.columns = ['District', 'Zone', 'Development Region']
print(df_split)
df[['District', 'Zone', 'Development Region']] = df['Location'].str.split(',', expand=True)

print(df)

        District       Zone Development Region
0      Taplejung      Mechi            Eastern
1      Taplejung      Mechi            Eastern
2      Taplejung      Mechi            Eastern
3      Taplejung      Mechi            Eastern
4      Taplejung      Mechi            Eastern
...          ...        ...                ...
5282  Kanchanpur   Mahakali        Far-Western
5283  Kanchanpur   Mahakali        Far-Western
5284  Kanchanpur   Mahakali        Far-Western
5285  Kanchanpur   Mahakali        Far-Western
5286  Kanchanpur   Mahakali        Far-Western

[5287 rows x 3 columns]
                               Location Geographical Region  School Number  \
0             Taplejung, Mechi, Eastern            Mountain              1
1             Taplejung, Mechi, Eastern            Mountain              2
2             Taplejung, Mechi, Eastern            Mountain              3
3             Taplejung, Mechi, Eastern            Mountain              4
4             Taplejung, Mechi, Eastern            Mountain              5
...                                 ...                 ...            ...
5282  Kanchanpur, Mahakali, Far-Western               Terai           5283
5283  Kanchanpur, Mahakali, Far-Western               Terai           5284
5284  Kanchanpur, Mahakali, Far-Western               Terai           5285
5285  Kanchanpur, Mahakali, Far-Western               Terai           5286
5286  Kanchanpur, Mahakali, Far-Western               Terai           5287

                                              School  ENGLISH  NEPALI  MATHS  \
0     BALSUBODHINI SAN MA VI MEDIBUNG PHUNGLIN, 1001     16.2    51.5   21.8
1                       BHANUJAN MA VI AMBITAR, 1002     17.3    46.5   25.3
2                          MOTI MA VI KHOKLING, 1003     16.2    48.5   34.2
3                            SINAM MA VI SINAM, 1004     28.7    41.6   41.2
4                         GANESH MA VI KHEWANG, 1005     23.3    44.1   31.7
...                                              ...      ...     ...    ...
5282                 MAHAKALI MA VI BASANTPUR, 77065     23.8    37.6   21.2
5283           SHANTI NIKETAN MA VI AAITHAPUR, 77066     29.7    49.8   45.6
5284           BAIJANATH MA VI JADEPANI DAIJI, 77067     26.9    47.1   33.1
5285                  YUBA BARSHMA VI TILKENI, 77068     26.7    47.2   41.7
5286   SARASWATI JANATA MA VI BAIBAHA BELDADI, 77069     24.5    33.5   38.3

      SCIENCE  SOCIAL STUDIES  HEALTH POPULATION AND ENVIRONMENT  ...  \
0        25.5            30.8                               33.1  ...
1        23.5            38.2                               39.2  ...
2        31.0            30.4                               42.4  ...
3        36.9            41.4                               48.2  ...
4        28.0            43.6                               35.0  ...
...       ...             ...                                ...  ...
5282     30.2            46.3                               37.1  ...
5283     34.4            46.9                               49.6  ...
5284     27.8            45.1                               37.5  ...
5285     38.6            48.8                               40.3  ...
5286     24.8            39.9                               36.0  ...

      DISTINCTION  FIRST DIVISION  SECOND DIVISION  THIRD DIVISION  PASS  \
0               0               2                7               0     9
1               0               5               16               0    21
2               0               0                2               0     2
3               0              12               46               0    58
4               0               2                7               0     9
...           ...             ...              ...             ...   ...
5282            0               0                5               0     5
5283            0               8               25               0    33
5284            0               1               26               2    29
5285            0               2               30               1    33
5286            0               2                4               5    11

      FAIL  PASS PERCENT    District       Zone Development Region
0       51          15.0   Taplejung      Mechi            Eastern
1       94          18.3   Taplejung      Mechi            Eastern
2       28           6.7   Taplejung      Mechi            Eastern
3       17          77.3   Taplejung      Mechi            Eastern
4       18          33.3   Taplejung      Mechi            Eastern
...    ...           ...         ...        ...                ...
5282    14          26.3  Kanchanpur   Mahakali        Far-Western
5283     1          97.1  Kanchanpur   Mahakali        Far-Western
5284    27          51.8  Kanchanpur   Mahakali        Far-Western
5285     6          84.6  Kanchanpur   Mahakali        Far-Western
5286    18          37.9  Kanchanpur   Mahakali        Far-Western

[5287 rows x 22 columns]

In [66]:
df.head()

,Location,Geographical Region,School Number,School,ENGLISH,NEPALI,MATHS,SCIENCE,SOCIAL STUDIES,HEALTH POPULATION AND ENVIRONMENT,...,DISTINCTION,FIRST DIVISION,SECOND DIVISION,THIRD DIVISION,PASS,FAIL,PASS PERCENT,District,Zone,Development Region
0,"Taplejung, Mechi, Eastern",Mountain,1,"BALSUBODHINI SAN MA VI MEDIBUNG PHUNGLIN, 1001",16.2,51.5,21.8,25.5,30.8,33.1,...,0,2,7,0,9,51,15.0,Taplejung,Mechi,Eastern
1,"Taplejung, Mechi, Eastern",Mountain,2,"BHANUJAN MA VI AMBITAR, 1002",17.3,46.5,25.3,23.5,38.2,39.2,...,0,5,16,0,21,94,18.3,Taplejung,Mechi,Eastern
2,"Taplejung, Mechi, Eastern",Mountain,3,"MOTI MA VI KHOKLING, 1003",16.2,48.5,34.2,31.0,30.4,42.4,...,0,0,2,0,2,28,6.7,Taplejung,Mechi,Eastern
3,"Taplejung, Mechi, Eastern",Mountain,4,"SINAM MA VI SINAM, 1004",28.7,41.6,41.2,36.9,41.4,48.2,...,0,12,46,0,58,17,77.3,Taplejung,Mechi,Eastern
4,"Taplejung, Mechi, Eastern",Mountain,5,"GANESH MA VI KHEWANG, 1005",23.3,44.1,31.7,28.0,43.6,35.0,...,0,2,7,0,9,18,33.3,Taplejung,Mechi,Eastern

In [67]:
df.drop(columns=['Location'])

,Geographical Region,School Number,School,ENGLISH,NEPALI,MATHS,SCIENCE,SOCIAL STUDIES,HEALTH POPULATION AND ENVIRONMENT,TAP,...,DISTINCTION,FIRST DIVISION,SECOND DIVISION,THIRD DIVISION,PASS,FAIL,PASS PERCENT,District,Zone,Development Region
0,Mountain,1,"BALSUBODHINI SAN MA VI MEDIBUNG PHUNGLIN, 1001",16.2,51.5,21.8,25.5,30.8,33.1,60,...,0,2,7,0,9,51,15.0,Taplejung,Mechi,Eastern
1,Mountain,2,"BHANUJAN MA VI AMBITAR, 1002",17.3,46.5,25.3,23.5,38.2,39.2,116,...,0,5,16,0,21,94,18.3,Taplejung,Mechi,Eastern
2,Mountain,3,"MOTI MA VI KHOKLING, 1003",16.2,48.5,34.2,31.0,30.4,42.4,30,...,0,0,2,0,2,28,6.7,Taplejung,Mechi,Eastern
3,Mountain,4,"SINAM MA VI SINAM, 1004",28.7,41.6,41.2,36.9,41.4,48.2,76,...,0,12,46,0,58,17,77.3,Taplejung,Mechi,Eastern
4,Mountain,5,"GANESH MA VI KHEWANG, 1005",23.3,44.1,31.7,28.0,43.6,35.0,27,...,0,2,7,0,9,18,33.3,Taplejung,Mechi,Eastern
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5282,Terai,5283,"MAHAKALI MA VI BASANTPUR, 77065",23.8,37.6,21.2,30.2,46.3,37.1,20,...,0,0,5,0,5,14,26.3,Kanchanpur,Mahakali,Far-Western
5283,Terai,5284,"SHANTI NIKETAN MA VI AAITHAPUR, 77066",29.7,49.8,45.6,34.4,46.9,49.6,35,...,0,8,25,0,33,1,97.1,Kanchanpur,Mahakali,Far-Western
5284,Terai,5285,"BAIJANATH MA VI JADEPANI DAIJI, 77067",26.9,47.1,33.1,27.8,45.1,37.5,58,...,0,1,26,2,29,27,51.8,Kanchanpur,Mahakali,Far-Western
5285,Terai,5286,"YUBA BARSHMA VI TILKENI, 77068",26.7,47.2,41.7,38.6,48.8,40.3,39,...,0,2,30,1,33,6,84.6,Kanchanpur,Mahakali,Far-Western
5286,Terai,5287,"SARASWATI JANATA MA VI BAIBAHA BELDADI, 77069",24.5,33.5,38.3,24.8,39.9,36.0,29,...,0,2,4,5,11,18,37.9,Kanchanpur,Mahakali,Far-Western

In [68]:
df_split = df['School'].str.split(',', expand=True)
df_split.columns = ['School_name', 'School_code','dummy1','dummy2']
print(df_split)
df[['School_name', 'School_code','dummy1','dummy2']] = df['School'].str.split(',', expand=True)

                                   School_name School_code dummy1 dummy2
0     BALSUBODHINI SAN MA VI MEDIBUNG PHUNGLIN        1001   None   None
1                       BHANUJAN MA VI AMBITAR        1002   None   None
2                          MOTI MA VI KHOKLING        1003   None   None
3                            SINAM MA VI SINAM        1004   None   None
4                         GANESH MA VI KHEWANG        1005   None   None
...                                        ...         ...    ...    ...
5282                  MAHAKALI MA VI BASANTPUR       77065   None   None
5283            SHANTI NIKETAN MA VI AAITHAPUR       77066   None   None
5284            BAIJANATH MA VI JADEPANI DAIJI       77067   None   None
5285                   YUBA BARSHMA VI TILKENI       77068   None   None
5286    SARASWATI JANATA MA VI BAIBAHA BELDADI       77069   None   None

[5287 rows x 4 columns]

In [69]:
df

,Location,Geographical Region,School Number,School,ENGLISH,NEPALI,MATHS,SCIENCE,SOCIAL STUDIES,HEALTH POPULATION AND ENVIRONMENT,...,PASS,FAIL,PASS PERCENT,District,Zone,Development Region,School_name,School_code,dummy1,dummy2
0,"Taplejung, Mechi, Eastern",Mountain,1,"BALSUBODHINI SAN MA VI MEDIBUNG PHUNGLIN, 1001",16.2,51.5,21.8,25.5,30.8,33.1,...,9,51,15.0,Taplejung,Mechi,Eastern,BALSUBODHINI SAN MA VI MEDIBUNG PHUNGLIN,1001,None,None
1,"Taplejung, Mechi, Eastern",Mountain,2,"BHANUJAN MA VI AMBITAR, 1002",17.3,46.5,25.3,23.5,38.2,39.2,...,21,94,18.3,Taplejung,Mechi,Eastern,BHANUJAN MA VI AMBITAR,1002,None,None
2,"Taplejung, Mechi, Eastern",Mountain,3,"MOTI MA VI KHOKLING, 1003",16.2,48.5,34.2,31.0,30.4,42.4,...,2,28,6.7,Taplejung,Mechi,Eastern,MOTI MA VI KHOKLING,1003,None,None
3,"Taplejung, Mechi, Eastern",Mountain,4,"SINAM MA VI SINAM, 1004",28.7,41.6,41.2,36.9,41.4,48.2,...,58,17,77.3,Taplejung,Mechi,Eastern,SINAM MA VI SINAM,1004,None,None
4,"Taplejung, Mechi, Eastern",Mountain,5,"GANESH MA VI KHEWANG, 1005",23.3,44.1,31.7,28.0,43.6,35.0,...,9,18,33.3,Taplejung,Mechi,Eastern,GANESH MA VI KHEWANG,1005,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5282,"Kanchanpur, Mahakali, Far-Western",Terai,5283,"MAHAKALI MA VI BASANTPUR, 77065",23.8,37.6,21.2,30.2,46.3,37.1,...,5,14,26.3,Kanchanpur,Mahakali,Far-Western,MAHAKALI MA VI BASANTPUR,77065,None,None
5283,"Kanchanpur, Mahakali, Far-Western",Terai,5284,"SHANTI NIKETAN MA VI AAITHAPUR, 77066",29.7,49.8,45.6,34.4,46.9,49.6,...,33,1,97.1,Kanchanpur,Mahakali,Far-Western,SHANTI NIKETAN MA VI AAITHAPUR,77066,None,None
5284,"Kanchanpur, Mahakali, Far-Western",Terai,5285,"BAIJANATH MA VI JADEPANI DAIJI, 77067",26.9,47.1,33.1,27.8,45.1,37.5,...,29,27,51.8,Kanchanpur,Mahakali,Far-Western,BAIJANATH MA VI JADEPANI DAIJI,77067,None,None
5285,"Kanchanpur, Mahakali, Far-Western",Terai,5286,"YUBA BARSHMA VI TILKENI, 77068",26.7,47.2,41.7,38.6,48.8,40.3,...,33,6,84.6,Kanchanpur,Mahakali,Far-Western,YUBA BARSHMA VI TILKENI,77068,None,None
5286,"Kanchanpur, Mahakali, Far-Western",Terai,5287,"SARASWATI JANATA MA VI BAIBAHA BELDADI, 77069",24.5,33.5,38.3,24.8,39.9,36.0,...,11,18,37.9,Kanchanpur,Mahakali,Far-Western,SARASWATI JANATA MA VI BAIBAHA BELDADI,77069,None,None

In [70]:
df.drop(columns=['dummy1','dummy2','School'])

,Location,Geographical Region,School Number,ENGLISH,NEPALI,MATHS,SCIENCE,SOCIAL STUDIES,HEALTH POPULATION AND ENVIRONMENT,TAP,...,SECOND DIVISION,THIRD DIVISION,PASS,FAIL,PASS PERCENT,District,Zone,Development Region,School_name,School_code
0,"Taplejung, Mechi, Eastern",Mountain,1,16.2,51.5,21.8,25.5,30.8,33.1,60,...,7,0,9,51,15.0,Taplejung,Mechi,Eastern,BALSUBODHINI SAN MA VI MEDIBUNG PHUNGLIN,1001
1,"Taplejung, Mechi, Eastern",Mountain,2,17.3,46.5,25.3,23.5,38.2,39.2,116,...,16,0,21,94,18.3,Taplejung,Mechi,Eastern,BHANUJAN MA VI AMBITAR,1002
2,"Taplejung, Mechi, Eastern",Mountain,3,16.2,48.5,34.2,31.0,30.4,42.4,30,...,2,0,2,28,6.7,Taplejung,Mechi,Eastern,MOTI MA VI KHOKLING,1003
3,"Taplejung, Mechi, Eastern",Mountain,4,28.7,41.6,41.2,36.9,41.4,48.2,76,...,46,0,58,17,77.3,Taplejung,Mechi,Eastern,SINAM MA VI SINAM,1004
4,"Taplejung, Mechi, Eastern",Mountain,5,23.3,44.1,31.7,28.0,43.6,35.0,27,...,7,0,9,18,33.3,Taplejung,Mechi,Eastern,GANESH MA VI KHEWANG,1005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5282,"Kanchanpur, Mahakali, Far-Western",Terai,5283,23.8,37.6,21.2,30.2,46.3,37.1,20,...,5,0,5,14,26.3,Kanchanpur,Mahakali,Far-Western,MAHAKALI MA VI BASANTPUR,77065
5283,"Kanchanpur, Mahakali, Far-Western",Terai,5284,29.7,49.8,45.6,34.4,46.9,49.6,35,...,25,0,33,1,97.1,Kanchanpur,Mahakali,Far-Western,SHANTI NIKETAN MA VI AAITHAPUR,77066
5284,"Kanchanpur, Mahakali, Far-Western",Terai,5285,26.9,47.1,33.1,27.8,45.1,37.5,58,...,26,2,29,27,51.8,Kanchanpur,Mahakali,Far-Western,BAIJANATH MA VI JADEPANI DAIJI,77067
5285,"Kanchanpur, Mahakali, Far-Western",Terai,5286,26.7,47.2,41.7,38.6,48.8,40.3,39,...,30,1,33,6,84.6,Kanchanpur,Mahakali,Far-Western,YUBA BARSHMA VI TILKENI,77068
5286,"Kanchanpur, Mahakali, Far-Western",Terai,5287,24.5,33.5,38.3,24.8,39.9,36.0,29,...,4,5,11,18,37.9,Kanchanpur,Mahakali,Far-Western,SARASWATI JANATA MA VI BAIBAHA BELDADI,77069

In [71]:
# Columns to bring to the front
columns_to_bring_front = ['District',	'Zone'	,'Development Region'	,'School_name',	'School_code']

# Create a new DataFrame with columns reordered
new_df = df[columns_to_bring_front + [col for col in df.columns if col not in columns_to_bring_front]]

In [72]:
df=new_df

In [73]:
df
df.drop(columns=['dummy1','dummy2','School'])

,District,Zone,Development Region,School_name,School_code,Location,Geographical Region,School Number,ENGLISH,NEPALI,...,HEALTH POPULATION AND ENVIRONMENT,TAP,SAP,DISTINCTION,FIRST DIVISION,SECOND DIVISION,THIRD DIVISION,PASS,FAIL,PASS PERCENT
0,Taplejung,Mechi,Eastern,BALSUBODHINI SAN MA VI MEDIBUNG PHUNGLIN,1001,"Taplejung, Mechi, Eastern",Mountain,1,16.2,51.5,...,33.1,60,60,0,2,7,0,9,51,15.0
1,Taplejung,Mechi,Eastern,BHANUJAN MA VI AMBITAR,1002,"Taplejung, Mechi, Eastern",Mountain,2,17.3,46.5,...,39.2,116,115,0,5,16,0,21,94,18.3
2,Taplejung,Mechi,Eastern,MOTI MA VI KHOKLING,1003,"Taplejung, Mechi, Eastern",Mountain,3,16.2,48.5,...,42.4,30,30,0,0,2,0,2,28,6.7
3,Taplejung,Mechi,Eastern,SINAM MA VI SINAM,1004,"Taplejung, Mechi, Eastern",Mountain,4,28.7,41.6,...,48.2,76,75,0,12,46,0,58,17,77.3
4,Taplejung,Mechi,Eastern,GANESH MA VI KHEWANG,1005,"Taplejung, Mechi, Eastern",Mountain,5,23.3,44.1,...,35.0,27,27,0,2,7,0,9,18,33.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5282,Kanchanpur,Mahakali,Far-Western,MAHAKALI MA VI BASANTPUR,77065,"Kanchanpur, Mahakali, Far-Western",Terai,5283,23.8,37.6,...,37.1,20,19,0,0,5,0,5,14,26.3
5283,Kanchanpur,Mahakali,Far-Western,SHANTI NIKETAN MA VI AAITHAPUR,77066,"Kanchanpur, Mahakali, Far-Western",Terai,5284,29.7,49.8,...,49.6,35,34,0,8,25,0,33,1,97.1
5284,Kanchanpur,Mahakali,Far-Western,BAIJANATH MA VI JADEPANI DAIJI,77067,"Kanchanpur, Mahakali, Far-Western",Terai,5285,26.9,47.1,...,37.5,58,56,0,1,26,2,29,27,51.8
5285,Kanchanpur,Mahakali,Far-Western,YUBA BARSHMA VI TILKENI,77068,"Kanchanpur, Mahakali, Far-Western",Terai,5286,26.7,47.2,...,40.3,39,39,0,2,30,1,33,6,84.6
5286,Kanchanpur,Mahakali,Far-Western,SARASWATI JANATA MA VI BAIBAHA BELDADI,77069,"Kanchanpur, Mahakali, Far-Western",Terai,5287,24.5,33.5,...,36.0,29,29,0,2,4,5,11,18,37.9

In [85]:
#load the nepali district with longitude and latitude 
lon_lat_df = pd.read_csv(r"dataset/nepal_districts_lat_long.csv")

In [106]:
lon_lat_df.head()# disply first 5 data

Empty DataFrame
Columns: [District, Latitude, Longitude]
Index: []

In [87]:
#shape of the dataset
lon_lat_df.shape

(75, 3)

In [88]:
# info of the dataset
lon_lat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   District   75 non-null     object
 1   Latitude   75 non-null     float64
 2   Longitude  75 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.9+ KB

In [89]:
#check for the duplicate entry 
lon_lat_df=lon_lat_df[lon_lat_df.duplicated()]
lon_lat_df

Empty DataFrame
Columns: [District, Latitude, Longitude]
Index: []

In [90]:
lon_lat_df=lon_lat_df.drop_duplicates()# if there is any duplicated value then drop it

In [103]:
# merge 
merged_df = pd.merge(df,lon_lat_df,how="outer")

In [105]:
merged_df.head()

,District,Zone,Development Region,School_name,School_code,Location,Geographical Region,School Number,School,ENGLISH,...,FIRST DIVISION,SECOND DIVISION,THIRD DIVISION,PASS,FAIL,PASS PERCENT,dummy1,dummy2,Latitude,Longitude
0,Achham,Seti,Far-Western,PRIVATE ACHHAM,71000,"Achham, Seti, Far-Western",Hill,4910,"PRIVATE ACHHAM, 71000",15.8,...,0,2,1,3,16,15.8,None,None,NaN,NaN
1,Achham,Seti,Far-Western,MAHENDRA MA VI BAYALPATA,71001,"Achham, Seti, Far-Western",Hill,4911,"MAHENDRA MA VI BAYALPATA, 71001",25.2,...,7,39,1,47,78,37.6,None,None,NaN,NaN
2,Achham,Seti,Far-Western,SHODASHA DEVI MA VI MANGALSEN,71002,"Achham, Seti, Far-Western",Hill,4912,"SHODASHA DEVI MA VI MANGALSEN, 71002",24.3,...,11,53,4,68,75,47.6,None,None,NaN,NaN
3,Achham,Seti,Far-Western,VIDDHYA MANDIR MA VI BINAYAK,71003,"Achham, Seti, Far-Western",Hill,4913,"VIDDHYA MANDIR MA VI BINAYAK, 71003",33.3,...,4,50,0,54,33,62.1,None,None,NaN,NaN
4,Achham,Seti,Far-Western,TRIPURA SUNDARI MA VI SHRIKOT,71004,"Achham, Seti, Far-Western",Hill,4914,"TRIPURA SUNDARI MA VI SHRIKOT, 71004",20.4,...,6,30,3,39,82,32.2,None,None,NaN,NaN

In [102]:
df.shape

(5287, 26)