In [1]:
#import python packages for the data wrangling
import pandas as pd
import numpy as np

In [24]:
# Load all sheets from the Excel file into a dictionary of DataFrames
df_dict = pd.read_excel("../dataset/dataset.xlsx",sheet_name=None)

In [25]:
#get all the sheets name and store in the list
keys = list(df_dict.keys())

In [26]:
keys

['S1', 'S2', 'S3']

In [27]:
#show the first sheet df
df_dict[keys[0]].head()

  Batch Number   Candle Number  Flow rate\n(ml/min) Category
0            S1              1                 45.0   Average
1            S1              2                 52.0   Average
2            S1              3                 40.0   Average
3            S1              4                 44.0   Average
4            S1              5                 33.0       Low

In [28]:
#show the second sheet df
df_dict[keys[1]].head()

  Batch Number   Candle Number Flow rate\n(ml/sec) Category
0            S2              1                2700   Average
1            S2              2                 NaN       NaN
2            S2              3                1440       Low
3            S2              4                2220       Low
4            S2              5                3300   Average

In [29]:
#show the third sheet df
df_dict[keys[2]].head()

  Batch Number   Candle Number  Flow rate\n(cm/min) Category
0            S3            1.0                  3.1       Low
1            S3            2.0                  4.2   Average
2            S3            3.0                  3.8       Low
3            S3            4.0                  3.1       Low
4            S3            5.0                  5.2   Average