In [88]:
#import python packages for the data wrangling
import pandas as pd
import numpy as np

In [89]:
# Load all sheets from the Excel file into a dictionary of DataFrames
df_dict = pd.read_excel("../dataset/dataset.xlsx",sheet_name=None)

In [90]:
#get all the sheets name and store in the list
keys = list(df_dict.keys())

In [91]:
keys

['S1', 'S2', 'S3']

In [92]:
#select the sheet two 
df = df_dict[keys[1]]

In [93]:
df.head()

  Batch Number   Candle Number Flow rate\n(ml/sec) Category
0            S2              1                2700   Average
1            S2              2                 NaN       NaN
2            S2              3                1440       Low
3            S2              4                2220       Low
4            S2              5                3300   Average

In [94]:
#check for the no. of rows and columns
df.shape

(667, 4)

In [95]:
# show all the name of the columns
df.columns

Index(['Batch Number ', 'Candle Number', 'Flow rate\n(ml/sec)', 'Category '], dtype='object')

In [96]:
# the info function  shows no of entries , the non-null count in the given dataset, dtypes and memeory usage by the dataset 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Batch Number        667 non-null    object
 1   Candle Number       667 non-null    int64
 2   Flow rate
(ml/sec)  623 non-null    object
 3   Category            622 non-null    object
dtypes: int64(1), object(3)
memory usage: 21.0+ KB

In [97]:
#Detect missing values in the dataset
df.isna()

     Batch Number   Candle Number  Flow rate\n(ml/sec)  Category
0            False          False                False      False
1            False          False                 True       True
2            False          False                False      False
3            False          False                False      False
4            False          False                False      False
..             ...            ...                  ...        ...
662          False          False                 True       True
663          False          False                 True       True
664          False          False                 True       True
665          False          False                 True       True
666          False          False                 True       True

[667 rows x 4 columns]

In [98]:
#drop all the nan value from the dataset and return the DataFrame 
df = df.dropna()

In [99]:
df.isna()

     Batch Number   Candle Number  Flow rate\n(ml/sec)  Category
0            False          False                False      False
2            False          False                False      False
3            False          False                False      False
4            False          False                False      False
5            False          False                False      False
..             ...            ...                  ...        ...
655          False          False                False      False
656          False          False                False      False
657          False          False                False      False
658          False          False                False      False
659          False          False                False      False

[622 rows x 4 columns]

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 622 entries, 0 to 659
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Batch Number        622 non-null    object
 1   Candle Number       622 non-null    int64
 2   Flow rate
(ml/sec)  622 non-null    object
 3   Category            622 non-null    object
dtypes: int64(1), object(3)
memory usage: 24.3+ KB

In [101]:
#Convert the flow rate from ml/sec to ml/min 
df['Flow rate\n(ml/sec)'] = df.loc[:,'Flow rate\n(ml/sec)']/60

C:\Users\compu\AppData\Local\Temp\ipykernel_22460\2625067409.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Flow rate\n(ml/sec)'] = df.loc[:,'Flow rate\n(ml/sec)']/60

In [102]:
#rename the Flow rate\n(ml/sec) to Flow rate\n(ml/min)
df.rename(columns={"Flow rate\n(ml/sec)":"Flow rate\n(ml/min)"},inplace=True)

C:\Users\compu\AppData\Local\Temp\ipykernel_22460\4000041486.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"Flow rate\n(ml/sec)":"Flow rate\n(ml/min)"},inplace=True)

In [103]:
df

    Batch Number   Candle Number Flow rate\n(ml/min) Category
0              S2              1                45.0   Average
2              S2              3                24.0       Low
3              S2              4                37.0       Low
4              S2              5                55.0   Average
5              S2              6                55.0   Average
..            ...            ...                 ...       ...
655            S2            656                13.0       Low
656            S2            657                30.0       Low
657            S2            658                26.0       Low
658            S2            659                40.0   Average
659            S2            660                37.0       Low

[622 rows x 4 columns]